/* Sanitize.CSS Library */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}
:where(body) {
  margin: 0;
}
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}
:where(nav li)::before {
  content: "\200B";
  float: left;
}
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}
:where(b, strong) {
  font-weight: bolder;
}
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
:where(small) {
  font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
:where(iframe) {
  border-style: none;
}
:where(svg:not([fill])) {
  fill: currentColor;
}
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}
:where(button, input, select) {
  margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
  appearance: button;
}
:where(fieldset) {
  border: 1px solid #a0a0a0;
}
:where(progress) {
  vertical-align: baseline;
}
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}
:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  appearance: textfield;
  outline-offset: -2px; /* 2 */
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
:where(details > summary:first-of-type) {
  display: list-item;
}
:where([aria-busy="true" i]) {
  cursor: progress;
}
:where([aria-controls]) {
  cursor: pointer;
}
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
  font-weight: 200;
}
body {
  background-color: #303030;
  background: url("/televisions/images/crt-room.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/images/cursors/normal.cur"), auto;
}

a:hover,
button:hover {
  text-decoration: underline;
  cursor: url("/images/cursors/link.cur"), auto;
}

.non-js-content {
  display: none;
}

#crtMain,
.crt-container,
.crt-middle-left,
.crt-middle,
.crt-middle-right,
.crt-middle-middle,
.crt-bottom,
.function-buttons,
.function-buttons-div,
.crt-text-container,
.inputs-container,
.inputs-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crt-middle,
.crt-middle-left,
.crt-middle-right {
  background-color: #b9b9bd;
}
.crt-bottom {
  background: linear-gradient(0deg, #9b9ba0 24%, #b9b9bd 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4aeac",endColorstr="#c6bfbd",GradientType=1);
}

#crtMain {
  min-height: 99.8vh;
  margin-bottom: 2px;
  z-index: 1;
}
.crt-container {
  flex-direction: column;
  min-width: 856px;
  margin: 20px;
}
.crt-top {
  background: linear-gradient(to bottom, #a6a6ac 0%, #9b9ba0 30%, #b9b9bd 100%);
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 40px;
  position: relative;
}
.tau-logo {
  position: absolute;
  top: 23px;
  left: 98px;
  width: 45px;
}

.crt-middle-left,
.crt-middle-right {
  border-radius: 2px;
  width: 10px;
  height: 512px;
  position: relative;
}
.crt-middle-left {
  background: linear-gradient(to left, #78787e 20%, #b9b9bd 100%);
  justify-content: flex-end;
  padding-left: 6px;
}
.crt-middle-right {
  background: linear-gradient(to right, #78787e 20%, #b9b9bd 100%);
  justify-content: flex-start;
  padding-right: 6px;
}
.left-speakers,
.right-speakers {
  background-color: #898989;
  opacity: 1;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(
    45deg,
    #6a6a6a 0,
    #6a6a6a 0.4px,
    #898989 0,
    #898989 50%
  );
  width: 65px;
  height: 100%;
  position: absolute;
}
.left-speakers {
  left: -78px;
}
.right-speakers {
  right: -78px;
}
.crt-middle {
  width: 100%;
  padding: 10px 0px;
}
.crt-middle-middle {
  flex-direction: column;
  width: 659px;
  height: 501px;
  overflow: hidden;
}
.crt-middle-middle img {
  position: absolute;
}

/* Video Player */
#crtOutput,
#crtOutputNonJS {
  background: black;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
#crtOutputNonJS {
  filter: saturate(150%) contrast(110%) brightness(110%) blur(0.6px);
}

/* AV1 */
#osdInput {
  color: blue;
  display: none;
  position: absolute;
  margin: 0px 0px 440px 550px;
  font-size: 3em;
  padding: 5px;
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: 800;
  z-index: 2;
  pointer-events: none;
}
/* VHS PLAY */
#osdInput3 {
  color: #faf4f4;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 440px -550px;
  padding: 5px;
  opacity: 0.8;
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: 800;
  font-size: 1.8em;
  z-index: 2;
  pointer-events: none;
}
#osdInput3 img {
  width: 19px;
  margin-left: 100px;
}
/* VHS Time */
#osdInput4 {
  color: #faf4f4;
  display: none;
  position: absolute;
  margin: 850px 0px 400px 490px;
  font-size: 1.8em;
  padding: 5px;
  font-weight: 800;
  font-family: "VCR OSD Mono", sans-serif;
  z-index: 2;
  opacity: 0.8;
  pointer-events: none;
}
/* Show values */
#osd {
  background-color: blue;
  color: #ffffff;
  display: none;
  position: absolute;
  margin-top: 435px;
  font-size: 0.85em;
  padding: 10px;
  font-weight: bold;
  z-index: 2;
}

/* Filters */
#static,
#flickering,
#vhsFilter,
#vhsFilter2,
#screendoorEffect {
  width: 659px;
  height: 502px;
}
#curvature {
  width: 649px;
  height: 492px;
  border: 10px solid black;
}
#static {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}
#vhsFilter {
  z-index: 3;
  opacity: 0.03;
  pointer-events: none;
  visibility: hidden;
}
#vhsFilter2 {
  z-index: 3;
  opacity: 0.15;
  pointer-events: none;
  visibility: hidden;
}
#curvature {
  z-index: 5;
  pointer-events: none;
}
#screendoorEffect {
  border-top: 4px solid #161616;
  border-bottom: 4px solid #161616;
  position: absolute;
  z-index: 4;
  pointer-events: none;
}
#screendoorEffect::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 4;
  background-size: 100% 2px, 2px 100%;
  pointer-events: none;
}
#screendoorEffect::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 4;
  pointer-events: none;
}
#flickering {
  animation: flicker 0.15s infinite;
  background: rgba(18, 16, 16, 0.1);
  display: none;
  pointer-events: none;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

/* Bottom Part */
.crt-bottom {
  border-radius: 0 0 5px 5px;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px 13px 0px;
  z-index: 1;
  position: relative;
}

/* Brand */
.crt-brand-container {
  width: 120px;
  height: 30px;
}
.crt-brand {
  padding: 3px;
  width: 120px;
  opacity: 0.9;
  z-index: 2;
  top: 0px;
  position: absolute;
}

.crt-bottom-media {
  background: linear-gradient(
    to bottom,
    #424244 5%,
    #a5a5a8 10%,
    #a5a5a8 95%,
    #6a6a6d 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 60px;
}

.media-dvd {
  background: #a3a2a5;
  border: 2px solid #686769;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-vhs {
  background: #a3a2a5;
  border: 2px solid #686769;
  width: 280px;
  height: 35px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6px;
}
.media-vhs-lines {
  background: #8a898b;
  width: 2px;
  height: 90%;
}
.dvd-video-img {
  background: #cfcfcf;
  border-top: 2px solid #838383;
  border-bottom: 2px solid #d4d4d4;
  border-left: 2px solid #acabab;
  border-right: 2px solid #acabab;
  width: 28px;
  padding: 3px;
}
.vhs-omnivision-img {
  width: 110px;
}
.triple-play-img {
  width: 70px;
  margin-left: 20px;
  margin-right: -90px;
}

.crt-bottom-controls {
  background: linear-gradient(
    to bottom,
    #dddadc 5%,
    #a5a5a8 70%,
    #919090 70%,
    #525252 100%
  );
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px solid #686868;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 80px;
}

/* Composite */
.composite-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.4em;
  margin: -15px 3px 0px 0px;
}
.composite-inputs div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-sound {
  background: #000000;
  border: 4px solid #666666;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.c-video,
.c-audio-l,
.c-audio-r {
  background: #000000;
  border: 3px solid #8f8f8f;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.star-logo {
  width: 15px;
  margin-right: 13px;
}

/* Buttons */
.buttons-groups-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -35px 7px 0px 7px;
}
.buttons-groups-div span {
  font-size: 0.5em;
  margin-bottom: -9px;
}
.buttons-groups-div button {
  background: linear-gradient(
    to bottom,
    #525252 00%,
    #b9b9b9 10%,
    #b9b9b9 100%
  );
  border-radius: 2px;
  border-top: 2px solid #161616;
  border-left: 2px solid #161616;
  border-right: 2px solid #161616;
  border-bottom: 2px solid #161616;
  width: 25px;
  height: 15px;
  font-weight: bold;
  cursor: url("/images/cursors/link.cur"), auto;
  margin-right: -3.5px;
  margin-left: -3.5px;
}
.buttons-groups-div button:hover,
.buttons-groups-div button:focus {
  background: linear-gradient(
    to bottom,
    #525252 00%,
    #d6d5d5 10%,
    #d1d1d1 100%
  );
}

.buttons-led-lights {
  display: flex;
  margin: -20px 0px -10px 10px;
}

.led-lights {
  width: 7px;
  height: 7px;
}
#powerLED {
  background: #15ff00;
  border: 1px solid green;
  box-shadow: 1px 1px 20px 1px #15ff00;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
#vhsLED {
  background: black;
}
.vhs-led-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.4em;
  margin-top: -25px;
}

.empty-led-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -25px -50px 0px 0px;
}
.empty-led-container div {
  background: black;
  margin-top: 9px;
  margin-left: 10px;
}

.bottom-right-logos {
  margin: 3px 0px 0px -18px;
}
.bottom-right-logos img {
  width: 30px;
}

/* Base */
.crt-stand-arm {
  background: #3b3b3b;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  width: 96.5%;
  height: 8px;
  margin-bottom: -5px;
  z-index: 0;
}

.crt-stand {
  background: linear-gradient(180deg, #838383 24%, #636262 72%);
  border-bottom: 5px solid #797979;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  width: 97%;
  height: 10px;
  margin-bottom: -5px;
  border-radius: 2px 2px 0px 0px;
  z-index: 0;
}

/* Table */
.crt-table {
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(
    45deg,
    #271c13 0,
    #271c13 0.4px,
    #38291c 0,
    #38291c 50%
  );
  border-top: 25px solid #42301f;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.253);
  width: 99%;
  margin-top: -10px;
}
.crt-text-container {
  gap: 12px;
  padding: 13px 0px;
}
.inputs-container {
  flex-direction: column;
  gap: 5px;
}
.inputs-container div {
  gap: 5px;
}
.inputs-container input {
  background: linear-gradient(to bottom, #111111 0%, #242424 100%);
  border: 1px solid #3b3b3b;
  color: white;
  padding: 3px 5px 5px 5px;
  width: 300px;
  height: 20px;
}
#fileInput {
  width: 195px;
}
.inputs-container button {
  background: linear-gradient(
    to bottom,
    #777777 0%,
    #292929 50%,
    #0a0a0a 51%,
    #080808 60%,
    #333333 100%
  );
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
  color: #eff1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  padding: 5px;
  transition-duration: 0.3s;
}
.inputs-container button:hover {
  filter: brightness(90%);
  transition-duration: 0.3s;
}

#avInput img,
#instructions img,
#fileUpload img,
#suggestions img,
#stickersButton img,
#backgroundChanger img {
  width: 20px;
  margin-right: 4px;
}
#fileUpload,
#suggestions {
  width: 110px !important;
}
#backgroundChanger {
  width: 100px !important;
}

.site-links {
  background-color: #241f1f;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.site-links img {
  height: 29px;
}
.no-js-warning {
  color: white;
  font-size: 0.9em;
}
