/* Sanitize.CSS Library */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}
:where(body) {
  margin: 0;
}
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}
:where(nav li)::before {
  content: "\200B";
  float: left;
}
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}
:where(b, strong) {
  font-weight: bolder;
}
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
:where(small) {
  font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
:where(iframe) {
  border-style: none;
}
:where(svg:not([fill])) {
  fill: currentColor;
}
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}
:where(button, input, select) {
  margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
  appearance: button;
}
:where(fieldset) {
  border: 1px solid #a0a0a0;
}
:where(progress) {
  vertical-align: baseline;
}
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}
:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  appearance: textfield;
  outline-offset: -2px; /* 2 */
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
:where(details > summary:first-of-type) {
  display: list-item;
}
:where([aria-busy="true" i]) {
  cursor: progress;
}
:where([aria-controls]) {
  cursor: pointer;
}
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR_OSD_MONO.ttf") format("truetype");
  font-weight: 200;
}
body {
  background-color: #303030;
  background: url("/televisions/images/crt-room.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  cursor: url("/images/cursors/normal.cur"), auto;
}

a:hover,
button:hover {
  text-decoration: underline;
  cursor: url("/images/cursors/link.cur"), auto;
}

.non-js-content {
  display: none;
}

#crtMain,
.crt-container,
.crt-middle-left,
.crt-middle,
.crt-middle-right,
.crt-middle-middle,
.crt-bottom,
.crt-bottom-bottom,
.buttons-groups-div,
.function-buttons,
.function-buttons-div,
.composite-ports,
.crt-text-container,
.inputs-container,
.inputs-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crt-middle,
.crt-middle-left,
.crt-middle-right {
  background-color: #949497;
}

#crtMain {
  min-height: 99.8vh;
  margin-bottom: 2px;
  z-index: 1;
}
.crt-container {
  flex-direction: column;
  width: 1100px;
  margin: 20px;
}
.crt-top {
  background: linear-gradient(
    to bottom,
    #5a5a5f 1%,
    #bdbdc4 8%,
    #bdbdc4 40%,
    #949497 60%
  );
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 65px;
  position: relative;
}
.crt-top span {
  color: #494949;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1em;
  position: absolute;
  top: 48px;
  left: 97px;
}
.crt-middle-left,
.crt-middle-right {
  width: 100px;
  height: 515px;
}
.crt-middle-left {
  justify-content: flex-start;
  padding-left: 6px;
}
.crt-middle-right {
  justify-content: flex-end;
  padding-right: 6px;
  position: relative;
}
.side-ports {
  background: #4a4b4e;
  border-top: 10px solid #5e6064;
  border-bottom: 10px solid #5e6064;
  border-right: 2px solid #5e6064;
  box-shadow: inset -3px 5px 10px 0px #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35px;
  height: 180px;
  position: absolute;
  left: 94px;
  padding-top: 5px;
}
.jack {
  background: #000000;
  border: 2px solid #5f5f61;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-top: 7px;
}
.composite {
  margin-top: 25px;
}
.c-yellow,
.c-white,
.c-red {
  background: #000000;
  border: 1px solid #5f5f61;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-top: 6px;
}
.c-yellow {
  border: 3px solid #cece0a;
}
.c-white {
  border: 3px solid #dfdfdf;
}
.c-red {
  border: 3px solid #c00202;
}
.crt-speakers {
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(
    45deg,
    #949497 0,
    #242425 0.4px,
    #949497 0,
    #242425 50%
  );
  height: 100%;
  width: 80%;
}
.crt-middle {
  width: 100%;
  padding: 10px 0px;
}
.crt-middle-middle {
  border-top: 4px solid #6f6f74;
  border-bottom: 4px solid #a6a6ad;
  border-left: 4px solid #bfbfc7;
  border-right: 4px solid #bfbfc7;
  flex-direction: column;
  width: 1030px;
  height: 510px;
  overflow: hidden;
}
.crt-middle-middle img {
  position: absolute;
}

/* Video Player */
#crtOutput,
#crtOutputNonJS {
  background: black;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
#crtOutputNonJS {
  filter: saturate(150%) contrast(110%) brightness(110%) blur(0.6px);
}

/* AV1 */
#osdInput {
  color: blue;
  display: none;
  position: absolute;
  margin: 0px 0px 440px 800px;
  font-size: 3em;
  padding: 5px;
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: 800;
  z-index: 2;
  pointer-events: none;
}
/* VHS PLAY */
#osdInput3 {
  color: #faf4f4;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 460px -810px;
  padding: 5px;
  opacity: 0.8;
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: 800;
  font-size: 1.8em;
  z-index: 2;
  pointer-events: none;
}
#osdInput3 img {
  width: 19px;
  margin-left: 100px;
}
/* VHS Time */
#osdInput4 {
  color: #faf4f4;
  display: none;
  position: absolute;
  margin: 850px 0px 390px 740px;
  font-size: 1.8em;
  padding: 5px;
  font-weight: 800;
  font-family: "VCR OSD Mono", sans-serif;
  z-index: 2;
  opacity: 0.8;
  pointer-events: none;
}
/* Show values */
#osd {
  background-color: blue;
  color: #ffffff;
  display: none;
  position: absolute;
  margin-top: 445px;
  font-size: 0.85em;
  padding: 10px;
  font-weight: bold;
  z-index: 2;
}

/* Filters */
#static,
#flickering,
#vhsFilter,
#vhsFilter2,
#screendoorEffect {
  width: 905px;
  height: 510px;
}
#static {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}
#vhsFilter {
  z-index: 3;
  opacity: 0.03;
  pointer-events: none;
  visibility: hidden;
}
#vhsFilter2 {
  z-index: 3;
  opacity: 0.15;
  pointer-events: none;
  visibility: hidden;
}
#screendoorEffect {
  box-shadow: inset 0px 0px 1px 10px black;
  position: absolute;
  z-index: 4;
  pointer-events: none;
}
#screendoorEffect::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.07),
      rgba(0, 255, 0, 0.07),
      rgba(0, 0, 255, 0.07)
    );
  z-index: 4;
  background-size: 100% 2px, 2px 100%;
  pointer-events: none;
}
#screendoorEffect::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 4;
  pointer-events: none;
}
#flickering {
  background: rgba(18, 16, 16, 0.1);
  pointer-events: none;
  animation: flicker 0.15s infinite;
  display: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

/* Bottom Part */
.crt-bottom {
  background: linear-gradient(to top, #4c4c4e 10%, #78787c 45%, #949497 100%);
  border-radius: 0 0 50% 50%;
  flex-direction: column;
  width: 100%;
  padding: 15px 0px 25px 0px;
  z-index: 1;
}
.crt-brand-container {
  width: 115px;
  height: 39px;
  position: relative;
}
.crt-brand {
  padding: 3px;
  width: 100px;
  opacity: 0.9;
  z-index: 2;
  top: 10px;
  position: absolute;
}
.crt-brand-plate {
  background: linear-gradient(to bottom, #505052 10%, #67676b 100%);
  border: 1px solid #646464;
  height: 12px;
  width: 82px;
  position: absolute;
  top: 17px;
  left: 8px;
  z-index: 1;
}
.crt-bottom-bottom {
  width: 670px;
  height: 40px;
}
.function-buttons {
  margin: 15px 8px 0px 0px;
}
.buttons-groups-div {
  margin: 0px 6px 0px 6px;
}
.buttons-groups-div button {
  background: linear-gradient(to bottom, #9a9aa0 30%, #59595c 100%);
  color: #2e2e2e;
  border: 1px solid #2e2e30;
  padding: 2px 4px 3px 4px;
  margin: 0px 2px;
  font-size: 0.7em;
  font-weight: bold;
  cursor: url("/images/cursors/link.cur"), auto;
}
#powerSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2e2e30;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
#powerSwitch img {
  width: 10px;
}
#flickerMode {
  width: 80px;
}
.led-lights {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
#powerLED {
  background: #15ff00;
  box-shadow: 1px 1px 20px 1px #15ff00;
}
#vhsLED {
  background: black;
}

/* Table */
.crt-table {
  background-color: #111111;
  border-top: 28px solid #1f1e1e;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
  width: 100%;
  margin-top: -15px;
  position: relative;
  padding-bottom: 25px;
}
.crt-table-left,
.crt-table-right {
  position: absolute;
  width: 180px;
  height: 196px;
  bottom: 0px;
  z-index: 3;
}
.crt-table-left {
  background: linear-gradient(30deg, #414040 15%, #333333 100%);
  border-right: 3px solid #202020;
  border-left: 2px solid #444444;
}
.crt-table-right {
  background: linear-gradient(-30deg, #414040 15%, #333333 100%);
  border-left: 3px solid #202020;
  border-right: 2px solid #444444;
  right: 0px;
}
.crt-table-left-top,
.crt-table-right-top {
  background: #202020;
  position: absolute;
  width: 25px;
  height: 10px;
  bottom: 191px;
}

.crt-table-left-top {
  border-left: 2px solid #444444;
  left: 1px;
  transform: rotate(20deg);
}
.crt-table-right-top {
  border-right: 2px solid #444444;
  right: 1px;
  transform: rotate(-20deg);
}
.crt-text-container {
  gap: 12px;
  padding: 13px 0px;
  margin-top: 20px;
}
.inputs-container {
  flex-direction: column;
  gap: 5px;
}
.inputs-container div {
  gap: 5px;
}
.inputs-container input {
  background: linear-gradient(to bottom, #111111 0%, #242424 100%);
  border: 1px solid #3b3b3b;
  color: white;
  padding: 3px 5px 5px 5px;
  width: 370px;
  height: 20px;
}
#fileInput {
  width: 265px;
}
.inputs-container button {
  background: linear-gradient(
    to bottom,
    #777777 0%,
    #292929 50%,
    #0a0a0a 51%,
    #080808 60%,
    #333333 100%
  );
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: none;
  color: #eff1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  padding: 5px;
  transition-duration: 0.3s;
}
.inputs-container button:hover {
  filter: brightness(90%);
  transition-duration: 0.3s;
}

#avInput img,
#instructions img,
#fileUpload img,
#suggestions img,
#backgroundChanger img {
  width: 20px;
  margin-right: 4px;
}
#fileUpload,
#suggestions {
  width: 110px !important;
}
#backgroundChanger {
  width: 100px !important;
}

.site-links {
  background-color: #241f1f;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.site-links img {
  height: 29px;
}
.no-js-warning {
  color: white;
  font-size: 0.9em;
}
